# Credentials
.env

# JSON
*.json

# fundamnetal agent cache
fundamental_agent/cache

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Virtual environment
venv/
.venv/

# RAG Data
rag_db/*.index/
rag_db/*.pkl/