# Credentials
.env

# Data files

*.csv
*.xlsx

# Fundamental data cache
fundamental_data_cache/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Virtual environment
venv/
.venv/

# RAG DB
rag_db/*.index
rag_db/*.pkl